{% load static %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>CurrencyConverter</title>
    <link rel="stylesheet" href="{% static 'forms_buttons.css' %}">
</head>
<body>
<br>
<div style="text-align:center;">
    <form action="" method="post">
        {% csrf_token %}
        {% block content %}
        <span class="p3"><b style="font-size: 25px">From {% if currency1 %}{{currency1}}{% else %}{{ form.currency1 }}{% endif %} To {% if currency2 %}{{currency2}}{% else %}{{ form.currency2 }}{% endif %}</b></span>
        <p><span class="p3"><b style="font-size: 25px">Amount: {% if amount %}{{amount}}{% else %}{{ form.amount }}{% endif %}</b></span></p>
        <button class="button" onclick="buttonClicked('paragraph1')">Submit</button>
        <p id="paragraph1"><span class="p3"><b style="font-size: 25px">Exchange Rate: {{ exchange_rate }}</b></span></p>
        <p id="paragraph2"><span class="p3"><b style="font-size: 25px">Final Amount: {{ final }}</b></span></p>
        {% endblock %}
    </form>
    <script>
        function buttonClicked(id){
            const p1 = document.getElementById(id);
            if(p1.style.display == "none"){
                p1.style.display = "block";
            }
        }
    </script>
</div>
</body>
</html>